In [1]:
!pip install matplotlib
!pip install pandas
!pip install numpy

Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('mentors.csv')
data

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,5-18-2014,01-07-2016,Analyst,21.0,44570,Finance,24.0,6.0,2.0,0
1,ANNIE,NaN,F,NaN,01-07-2016,Associate,NaN,89207,Web,NaN,13.0,NaN,7
2,OLIVE,ANCY,F,7-28-2014,01-07-2016,Analyst,21.0,40955,Finance,23.0,7.0,3.0,0
3,CHERRY,AQUILAR,F,04-03-2013,01-07-2016,Analyst,22.0,45550,IT,22.0,8.0,3.0,0
4,LEON,ABOULAHOUD,M,11-20-2014,01-07-2016,Analyst,NaN,43161,Operations,27.0,3.0,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,KATHERINE,ALSDON,F,6-28-2011,01-07-2016,Senior Manager,36.0,185977,Management,15.0,15.0,5.0,10
2635,LOUISE,ALTARAS,F,1-14-2014,01-07-2016,Analyst,23.0,45758,IT,17.0,13.0,2.0,0
2636,RENEE,ALVINO,F,1-23-2014,01-07-2016,Analyst,21.0,47315,Web,29.0,1.0,5.0,0
2637,TERI,ANASTASIO,F,3-17-2014,01-07-2016,Analyst,24.0,45172,Web,23.0,7.0,3.0,1
2638,GREGORY,ABARCA,M,9-18-2014,01-07-2016,Analyst,24.0,49176,Marketing,17.0,13.0,2.0,2

In [5]:
print(data.columns)
data

Index(['FIRST NAME', 'LAST NAME', 'SEX', 'DOJ', 'CURRENT DATE', 'DESIGNATION',
       'AGE', 'SALARY', 'UNIT', 'LEAVES USED', 'LEAVES REMAINING', 'RATINGS',
       'PAST EXP'],
      dtype='object')

,FIRST NAME,LAST NAME,SEX,DOJ,CURRENT DATE,DESIGNATION,AGE,SALARY,UNIT,LEAVES USED,LEAVES REMAINING,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,5-18-2014,01-07-2016,Analyst,21.0,44570,Finance,24.0,6.0,2.0,0
1,ANNIE,NaN,F,NaN,01-07-2016,Associate,NaN,89207,Web,NaN,13.0,NaN,7
2,OLIVE,ANCY,F,7-28-2014,01-07-2016,Analyst,21.0,40955,Finance,23.0,7.0,3.0,0
3,CHERRY,AQUILAR,F,04-03-2013,01-07-2016,Analyst,22.0,45550,IT,22.0,8.0,3.0,0
4,LEON,ABOULAHOUD,M,11-20-2014,01-07-2016,Analyst,NaN,43161,Operations,27.0,3.0,NaN,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,KATHERINE,ALSDON,F,6-28-2011,01-07-2016,Senior Manager,36.0,185977,Management,15.0,15.0,5.0,10
2635,LOUISE,ALTARAS,F,1-14-2014,01-07-2016,Analyst,23.0,45758,IT,17.0,13.0,2.0,0
2636,RENEE,ALVINO,F,1-23-2014,01-07-2016,Analyst,21.0,47315,Web,29.0,1.0,5.0,0
2637,TERI,ANASTASIO,F,3-17-2014,01-07-2016,Analyst,24.0,45172,Web,23.0,7.0,3.0,1
2638,GREGORY,ABARCA,M,9-18-2014,01-07-2016,Analyst,24.0,49176,Marketing,17.0,13.0,2.0,2

In [6]:
data = data.drop(["DOJ", "CURRENT DATE", "LEAVES USED", "LEAVES REMAINING"], axis=1)

In [7]:
print(data.columns)
data

Index(['FIRST NAME', 'LAST NAME', 'SEX', 'DESIGNATION', 'AGE', 'SALARY',
       'UNIT', 'RATINGS', 'PAST EXP'],
      dtype='object')

,FIRST NAME,LAST NAME,SEX,DESIGNATION,AGE,SALARY,UNIT,RATINGS,PAST EXP
0,TOMASA,ARMEN,F,Analyst,21.0,44570,Finance,2.0,0
1,ANNIE,NaN,F,Associate,NaN,89207,Web,NaN,7
2,OLIVE,ANCY,F,Analyst,21.0,40955,Finance,3.0,0
3,CHERRY,AQUILAR,F,Analyst,22.0,45550,IT,3.0,0
4,LEON,ABOULAHOUD,M,Analyst,NaN,43161,Operations,NaN,3
...,...,...,...,...,...,...,...,...,...
2634,KATHERINE,ALSDON,F,Senior Manager,36.0,185977,Management,5.0,10
2635,LOUISE,ALTARAS,F,Analyst,23.0,45758,IT,2.0,0
2636,RENEE,ALVINO,F,Analyst,21.0,47315,Web,5.0,0
2637,TERI,ANASTASIO,F,Analyst,24.0,45172,Web,3.0,1
2638,GREGORY,ABARCA,M,Analyst,24.0,49176,Marketing,2.0,2

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer
data['combined_features'] = data['UNIT'].fillna('') + ' ' + data['DESIGNATION'].fillna('') + ' ' + data['PAST EXP'].astype(str).fillna('')

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(data['combined_features'])

In [9]:
def search_keywords(keywords, tfidf_matrix, data, top_n=10):
    # Transform the input keywords into the tf-idf space
    query_vec = tfidf.transform([keywords])

    # Compute the cosine similarity between the query and all the documents
    cosine_similarities = (tfidf_matrix * query_vec.T).toarray().flatten()

    # Get the indices of the top_n most similar entries
    top_indices = cosine_similarities.argsort()[-top_n:][::-1]

    # Return the most relevant rows
    return data.iloc[top_indices]

In [13]:
search_results = search_keywords('Marketing', tfidf_matrix, data)
print(search_results[['FIRST NAME', 'LAST NAME', 'UNIT', 'DESIGNATION', 'PAST EXP']])

     FIRST NAME LAST NAME       UNIT DESIGNATION  PAST EXP
2638    GREGORY    ABARCA  Marketing     Analyst         2
505      FANNIE  AMMIRATI  Marketing     Analyst         0
558        TREY    ALCORN  Marketing     Analyst         1
552       DARYL  ACKERSON  Marketing     Analyst         2
1978      DAVID    AALAND  Marketing     Analyst         2
541        RICO     ALDAZ  Marketing     Analyst         0
1986      BENNY  ADELMANN  Marketing     Analyst         0
531         ROY    ABBOUD  Marketing     Analyst         0
527      RUSSEL      AGRO  Marketing     Analyst         0
525    PAULETTE   ANACKER  Marketing     Analyst         0